.container {
  width: $container-width;
  margin: 0 auto;
}

.card {
  border: 1px solid $grey-ccc;
  text-align: center;
  @include borderRadius(5px);

  &.white {
    background-color: $white;
  }
}

@each $size in $margin-sizes {
  .mx-#{$size} {
    margin: 0 #{$size}px;
  }
  .my-#{$size} {
    margin: #{$size}px 0;
  }
  .ma-#{$size} {
    margin: #{$size}px;
  }
  .mt-#{$size} {
    margin-top: #{$size}px;
  }
  .mb-#{$size} {
    margin-bottom: #{$size}px;
  }
  .mr-#{$size} {
    margin-right: #{$size}px;
  }
  .ml-#{$size} {
    margin-left: #{$size}px;
  }
}

@each $size in $padding-sizes {
  .px-#{$size} {
    padding: 0 #{$size}px;
  }
  .py-#{$size} {
    padding: #{$size}px 0;
  }
  .pa-#{$size} {
    padding: #{$size}px;
  }
  .pt-#{$size} {
    padding-top: #{$size}px;
  }
  .pb-#{$size} {
    padding-bottom: #{$size}px;
  }
  .pr-#{$size} {
    padding-right: #{$size}px;
  }
  .pl-#{$size} {
    padding-left: #{$size}px;
  }
}

@each $style in $text-align-styles {
  .ta-#{$style} {
    text-align: #{$style};
  }
}

@each $size in $font-sizes {
  .fs-#{$size} {
    font-size: #{$size}px;
  }
}
