* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  background-color: $body-background-color;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: $body-family;
}

body {
  color: $body-color;
  font-size: 1rem;
}

a {
  color: $link-color;
  cursor: pointer;
  text-decoration: none;
  strong {
    color: currentColor;
  }
  &:hover {
    color: $link-hover;
  }
}

hr {
  border: none;
  display: block;
}

img {
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}
